/course-remote-info.yaml
/course-info.yaml
/Simple Banking System/Card anatomy/
/Simple Banking System/I'm so lite/
/Simple Banking System/Luhn algorithm/
/Simple Banking System/lesson-info.yaml
/Simple Banking System/Advanced system/
/Simple Banking System/task/test/
/Simple Banking System/task/out/
/Simple Banking System/task/build/
